body {
  background-color: #222d32;/*#004058;*/
}
* {
 font-family: 'Hind', sans-serif;
}
p{
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.75;
    margin: 0 auto 30px;
}

hr{
  border-top: 2px solid;
  width: 20%;
  background: #08d8b2;
}

.rankJack{
  background-color: white!important;
  color: black;
  border-radius: 5px;
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 6px 18px;
  margin-bottom: 10px;
}

.rankJack .rank-list-item{
  border-style: none;
  background-color: #001f3f!important;
  color: white;
  border-radius: 5px;
  font-size: 13px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 6px 18px;
  margin-bottom: 5px;
}

.rankJack .rank-list-empty{
  border-style: dashed;
  border-color: gray;
  background-color: lightgray!important;
  padding: 15px;
  margin-bottom: 5px;
}

table, th, td {
  width: 50%;
  background-color: #001f3f;
  color: white;
  border: 2px solid;
  border-color: #d3d3d3;
}

.tab-panel{
  background-color: #004058;
}
.skin-blue .sidebar-menu > li.active > a {
  border-left-color: #08d8b2;
}
.dropdown-content {
  color: #202A44;
}

.well{
  background-color: red;
}

/*input[type=checkbox]:checked ~ div {
  background-color: #50bcf2;
}
; #202A44;
*/
input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 
input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
} 

#text1{color: white;
font-size: 20px;
}
#text2{color: white;
font-size: 20px;
}
#text3{color: white;
font-size: 20px;
}

.pure-material-switch {
background-color: #c110a0;
}

