body {
  background-color: #222d32;
}
* {
 font-family: 'Hind', sans-serif;
}
p{
  font-size: 18px;
}

hr{
  border-top: 2px solid;
  width: 20%;
  background: #08d8b2;
}

.tab-panel{
  background-color: #222d32;
}

.dropdown-content {
  color: #202A44;
}

/*input[type=checkbox]:checked ~ div {
  background-color: #50bcf2;
}
; #202A44;
*/
input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 
input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
} 

#text1{color: white;
font-size: 20px;
}
#text2{color: white;
font-size: 20px;
}
#text3{color: white;
font-size: 20px;
}

